back_app/app/__pycache__
back_app/instance
pwa_app/back_app/models/__pycache__
pwa_app/back_app/backenv
# Ignorar todos los archivos pyc
*.pyc

# Ignorar todos los directorios __pycache__ en cualquier parte del proyecto
__pycache__/
